<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abs Workout</title>
    <link rel="stylesheet" href="main.css">
</head>
<body class="bk">
    <div class="sh"><h1>Abs are the reward for all that hard work and dedication.</h1></div>
    <div class="sw">
        <iframe class="swv" width="560" height="315" src="https://www.youtube.com/embed/3KIhi3Jo31A?si=GFQzsTSbdo4CNG-u" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    
    </div>
</body>
</html>