<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Gym</title>
</head>
<body>
    <div class="headd">
        <div class="headd1"><h1>WELCOME</h1></div>
    </div>
    <div class="celll2">
        <img class="image" src="images/workkout.jpg">
        <div class="text">Free workout plans</div>
    </div>
    <div class="text2"></div>
    <h2>select one workout on eachday, all you need is a pair of dumbbels.</h2>
    <div class="celll">
        <div class="cell"><a href="/another">
            <img width="400" height="250" src="images/shoulder.jpg">
           </a><a href="/another"><div class="dtxt">shoulders</div></a></div>
        <div class="cell"><a href="/another1">
            <img width="400" height="250" src="images/chest.jpg">
        </a><a href="/another"><div class="dtxt">chest</div></a></div>
        <div class="cell"><a href="/another2">
            <img width="400" height="250" src="images/bicep.jpg">
           </a><a href="/another"><div class="dtxt">biceps</div></a></div>
        <div class="cell"><a href="/another3">
            <img width="400" height="250" src="images/abs.jpg">
        </a><a href="/another"><div class="dtxt">abs</div></a></div>
        <div class="cell"><a href="/another4">
            <img width="400" height="250" src="images/triceps.jpg">
        </a><a href="/another"><div class="dtxt">triceps</div></a></div>
        <div class="cell"><a href="/another5">
            <img width="400" height="250" src="images/legs.jpg">
        </a><a href="/another"><div class="dtxt">legs</div></a></div>
        <div class="cell"><a href="/another6">
            <img width="400" height="250" src="images/back.jpg">
        </a><a href="/another"><div class="dtxt">back</div></a></div>
        <div class="cell"><a href="/another7">
            <img width="400" height="250" src="images/cardio.jpg">
        </a><a href="/another"><div class="dtxt">cardio</div></a></div>
    </div>
</body>
</html>