<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legs Workout</title>
    <link rel="stylesheet" href="main.css">
</head>
<body class="bk">
    <div class="sh"><h1>You can't spell legendary without leg day.</h1></div>
    <div class="sw">
        <iframe class="swv" width="560" height="315" src="https://www.youtube.com/embed/fkDCH1AduCo?si=GBV9ydvdW8MStfnQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</body>
</html>